<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
    <div class="main_container">
        <div class="side_izquierda">
            <h1 class="titulo_side_izquierda">Cuenta</h1>
            <div class="botones_side_izquierda">
                <button class="boton_utlima_busqueda" onclick="redirectToClientes()">Clientes</button>

                <button id="loadMoreBtn" class="boton_cargar_mas">Cargar más</button>

                <button class="boton_utlima_busqueda" onclick="redirectToUltimaBusqueda()">Ultima Busqueda</button>

                <form action="/logout" method="get" class="logout_form">
                    <button id="logout" type="submit" class="boton_cerrar_sesion">Cerrar sesión</button>
                </form>
            </div>
        </div>
        <div class="side_derecha">
            <div class="container">
                <h1 class="container_titulo">Tabla de Personas y Reparaciones</h1>
                <div class="caja_botones_agregar_buscar">
                    <button class="boton_agregar" onclick="redirectToAgregar()">Agregar</button>
                    <button class="boton_buscar" onclick="redirectToBuscar()">Buscar</button>
                </div>
                <div class="container_tabla">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>DNI</th>
                                <th>Tipo</th>
                                <th>Fecha</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="dynamicTableBody"></tbody>
                    </table>
                </div>

                <div id="paginationContainer" class="pagination"></div>
            </div>
        </div>
    </div>

    <script src="/script/dashboard_main.js"></script>
    <script src="/script/dashboard_redirect.js"></script>
</body>
</html>