<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Persona</title>
    <link rel="stylesheet" href="/styles/dashboard_crud_form_post.css">
</head>
<body>
    <form action="/dashboard/buscar/persona" method="POST">

        <label for="nombre">Nombre / Apellido:</label>
        <input type="text" id="nombre" name="nombre" pattern="[A-Za-záéíóúñÁÉÍÓÚÑ\s]+" placeholder="Ingrese nombre o apellido">

        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" placeholder="Ingrese dirección">

        <label for="telefono">Teléfono:</label>
        <input type="number" id="telefono" name="telefono" placeholder="Ingrese número de teléfono">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Ingrese correo electrónico">

        <input type="submit" value="Buscar Persona">
    </form>
</body>
</html>