<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>
    <link rel="stylesheet" href="/styles/dashboard_crud_form.css">
</head>
<body>
    <div>
        <form action="/dashboard/buscar/persona" method="get">
            <button type="submit">Buscar Personas</button>
        </form>
        <form action="/dashboard/buscar/reparacion" method="get">
            <button type="submit">Buscar Reparaciónes</button>
        </form>
        <form action="/dashboard/buscar/ambos" method="get">
            <button type="submit">Buscar Personas y Reparaciónes (Ambos)</button>
        </form>
    </div>
</body>
</html>