<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar</title>
    <link rel="stylesheet" href="/styles/dashboard_crud_form.css">
</head>
<body>
    <div>
        <form action="/agregar/persona" method="get">
            <button type="submit">Agregar Persona Nueva</button>
        </form>
        <form action="/agregar/reparacion" method="get">
            <button type="submit">Agregar Reparación Nueva</button>
        </form>
        <form action="/agregar/ambos" method="get">
            <button type="submit">Agregar Persona Nueva y Reparación (Ambos)</button>
        </form>
    </div>
</body>
</html>