<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Persona</title>
    <link rel="stylesheet" href="/styles/dashboard_crud_form_post.css">
</head>
<body>
    <form action="/agregar/persona" method="POST">
        
        <div class="caja_dni">
            <label for="dni">DNI del cliente:</label>
            <input type="number" id="dni" name="dni" pattern="[0-9]+" required>
            <button type="button" id="verificar-btn">Verificar</button>
        </div>

        <div id="mensaje-disponibilidad" class="mensaje-disponibilidad"></div>

        <label for="nombre">Nombre y Apellido:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" required>

        <label for="telefono">Teléfono:</label>
        <input type="number" id="telefono" name="telefono" pattern="[0-9]+" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <input type="submit" value="Crear Persona">
    </form>

    <script src="/script/check_DNI_persona.js"></script>
</body>
</html>