<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Ambos</title>
    <link rel="stylesheet" href="/styles/dashboard_crud_form_post.css">
</head>
<body>
    <form action="/dashboard/agregar/ambos" method="POST">
        <div class="section-heading">Datos de Persona</div>

        <div class="caja_nombre">
            <label for="nombre">Nombre y Apellido:</label>
            <input type="text" id="nombre" name="nombre" required pattern="[A-Za-záéíóúñÁÉÍÓÚÑ\s]+">
            <button type="button" id="verificar-btn">Verificar</button>
        </div>

        <div id="mensaje-disponibilidad" class="mensaje-disponibilidad"></div>

        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" required>

        <label for="telefono">Teléfono:</label>
        <input type="number" id="telefono" name="telefono" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <div class="section-heading">Datos de Reparación</div>
        <label for="descripcion">Descripción de la reparación:</label>
        <input type="text" id="descripcion" name="descripcion" required>

        <label for="tipo">Tipo de reparación:</label>
        <input type="text" id="tipo" name="tipo" required>

        <label for="fecha">Fecha de ingreso:</label>
        <input type="date" id="fecha" name="fecha" required>

        <label for="estado">Estado de la reparación:</label>
        <select id="estado" name="estado" required>
            <option value="">Seleccionar estado...</option>
            <option value="Pendiente">Pendiente</option>
            <option value="En Proceso">En Proceso</option>
            <option value="Finalizado">Finalizado</option>
            <option value="Entregado">Entregado</option>
            <option value="Cancelado">Cancelado</option>
        </select>

        <input type="submit" value="Crear Persona con Reparacion">
    </form>

    <script src="/script/check_nomb_apell_persona.js"></script>
</body>
</html>