<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
    <div class="side_derecha">
        <div class="container">
            <div class="container_tabla">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody id="dynamicTableBody"></tbody>
                </table>
            </div>
        </div>
    </div>

    <style>
        body {
            background-color:rgb(255, 249, 239);
        }
    </style>
</body>
</html>