<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta</title>
</head>
<body>
    <h1>Cuenta</h1>
    <form action="/logout" method="POST">
        <button type="submit">Cerrar sesión</button>
    </form>

    <div class="panel_control">
        <p>Mostrar reparaciones.</p>
        <button id="mostrar">Mostrar</button>
    </div>

    <script>
        document.getElementById('mostrar').addEventListener('click', function() {
            const numReparaciones = 3;
            const url = `/cuenta/reparaciones?reparaciones=${numReparaciones}`;
            window.location.href = url;
        });
    </script>
</body>
</html>
