<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Practica Profesional</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <body>
    <header>
      <div class="texto_sobre_img">

        <nav class="navbar active" id="inicio">
          <ul>
            <li>
              <a href="#inicio" title="Ir al inicio">
                <span class="material-symbols-outlined">home</span>
                <span class="texto_header">Inicio</span>
              </a>
            </li>
            <li>
              <a href="#sobre_nosotros" title="Saber más sobre nosotros">
                <span class="material-symbols-outlined">info</span>
                <span class="texto_header">Sobre nosotros</span>
              </a>
            </li>
            <li>
              <a href="#contacto_reparacion" title="Hacer una consulta">
                <span class="material-symbols-outlined">contact_page</span>
                <span class="texto_header">Consulta</span>
              </a>
            </li>
            <li class="iniciar_sesion">
              <a href="/login" title="Iniciar sesión">
                <span class="material-symbols-outlined">account_circle</span>
                <span class="texto_header">Iniciar Sesión</span>
              </a>
            </li>
          </ul>
        </nav>

        <button class="hamburger" id="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>

        <div class="container_img_texto">
          <img src="/img/index_header.jpg" class="img_header" alt="index_header">
          <div class="overlay"></div>
          <div class="texto_centrado">
            <h2>Reparación Profesional de Televisores y Electrodomésticos</h2>
            <p>Servicio confiable y rápido para tu hogar.</p>
          </div>
        </div>
      </div>

    </header>

    <main>
      <div class="contenedor_fotos">
        <section class="titulo_seccion">
          <h2>Nuestras reparaciones</h2>
        </section>
        
        <div class="galeria_figure_figcaption">
          <article>
            <figure>
              <img src="/img/index_main_contenedor_fotos.jpg" alt="index_main_contenedor_fotos">
              <figcaption>
                <h4>Televisores</h4>
                <p>
                  Reparamos todo tipo de televisores, desde LCD hasta OLED, con soluciones rápidas y efectivas para problemas comunes como pantallas rotas o problemas de sonido.
                </p>
              </figcaption>
            </figure>
          </article>
          <article>
            <figure>
              <img src="/img/index_main_contenedor_fotos.jpg" alt="index_main_contenedor_fotos">
              <figcaption>
                <h4>Microondas</h4>
                <p>
                  Especialistas en reparación de microondas de todas las marcas. Solucionamos problemas de calentamiento, problemas electrónicos y más, garantizando un funcionamiento óptimo.
                </p>
              </figcaption>
            </figure>
          </article>
          <article>
            <figure>
              <img src="/img/index_main_contenedor_fotos.jpg" alt="index_main_contenedor_fotos">
              <figcaption>
                <h4>Control Remoto</h4>
                <p>
                  Brindamos servicios especializados en la reparación y reemplazo de controles remotos para televisores y otros dispositivos relacionados. Nos especializamos en resolver problemas de botones, conectividad y otras fallas comunes.
                </p>
              </figcaption>
            </figure>
          </article>
        </div>
      </div>

      <div class="contenedor_consulta_reparacion" id="contacto_reparacion">
        <aside>
          <img src="/img/index_main_contenedor_consulta_reparacion.jpg" alt="index_main_contenedor_consulta_reparacion">
        </aside>

        <article>
          <h2>
            ¿Como está el estado de tu reparación?
          </h2>
          <p>
            Ingresa tu nombre y apellido para consultar
          </p>
          
          <form id="consulta_reparacion_form" action="/consulta" method="POST">
            <input type="text" id="input_consulta_reparacion_form" name="nombre_apellido_consulta" placeholder="Ej: 'Juan Perez'" required pattern="[A-Za-záéíóúñÁÉÍÓÚÑ\s]+">
            <button type="submit">Consultar</button>
          </form>
        </article>
      </div>
      
      <div class="contenedor_info_contacto"  id="sobre_nosotros">
        <article>
          <h2>Sobre nosotros</h2>
          <h3>Garantía de 3 Meses en Todas las Reparaciones</h3>
          <p>Somos especialistas en reparación de televisores y electrodomésticos.</p>
          <p>Garantía completa de <u>3</u> meses en todas nuestras reparaciones.</p>
          <p>Equipo comprometido con brindar un servicio confiable y eficiente, utilizando la mejor tecnología avanzada.</p>
          <h3>¿Dudas? No dudes en contactarnos!</h3>
          <p>Número: <a href="tel:+1234567890">+1 (234) 567-890</a></p>
        </article>

        <aside>
          <img src="/img/index_contenedor_info_contacto.jpg" alt="index_contenedor_info_contacto">
        </aside>
      </div>
    </main>

    <footer>
      <div class="links">
        <a href="#">Términos y Condiciones de Uso</a> - 
        <a href="#">Privacidad y Seguridad</a>
      </div>

      <p>&copy; 2024 Nombre de la empresa (Ej: "aaaaaa") - Todos los derechos reservados.</p>
      <p>Contacto: aaa@gmail.com</p>
    </footer>
  </body>

  <script>
    const hamburger = document.getElementById('hamburger');
    const navbar = document.querySelector('.navbar');
    const textoCentrado = document.querySelector('.texto_centrado');

    hamburger.addEventListener('click', function() {
      navbar.classList.toggle('active');
      textoCentrado.classList.toggle('active');
    });

    document.addEventListener('DOMContentLoaded', function() {
      var hamburger = document.getElementById('hamburger');
      hamburger.addEventListener('click', function() {
        this.classList.toggle('open');
      });
    });
  </script>
</html>