<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Política de Privacidad y Seguridad de Datos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/terminos_condiciones_privacidad_seguridad.css">
    </head>

    <body>
        <div id="privacy-container">
            <h1>Política de Privacidad y Seguridad de Datos</h1>
            <p><strong>Introducción</strong></p>
            <p>Trussi Videos, valoramos y respetamos tu privacidad. Esta política de privacidad explica cómo recopilamos, utilizamos, y protegemos tus datos personales en cumplimiento con las leyes de protección de datos aplicables.</p>

            <p><strong>Datos Recopilados</strong></p>
            <p>Recopilamos datos personales, específicamente nombre y/o apellido, cuando los clientes utilizan nuestro servicio para consultar el estado de sus reparaciones. Estos datos son necesarios para identificar y proporcionar la información correcta sobre el estado de la reparación.</p>

            <p><strong>Uso de los Datos</strong></p>
            <p>Los datos personales recopilados se utilizan exclusivamente para:</p>
            <ul>
                <li>Proporcionar información precisa sobre el estado de las reparaciones.</li>
            </ul>

            <p>No utilizamos, compartimos, ni vendemos tus datos personales para otros fines.</p>

            <p><strong>Seguridad de los Datos</strong></p>
            <p>Implementamos medidas de seguridad robustas para proteger tus datos personales. Utilizamos métodos de hasheo y un certificado SSL proporcionado por Vercel para asegurar que los datos transmitidos a través de nuestro sitio web están protegidos contra accesos no autorizados.</p>

            <p><strong>Ley 25.326</strong></p>
            <p>Esta política se rige bajo la Ley 25.326 sobre Protección de los Datos Personales en Argentina. Nos comprometemos a cumplir con esta ley y a tratar tus datos personales con el máximo respeto y confidencialidad.</p>
            
            <p><strong>Derechos del Usuario</strong></p>
            <p>Tienes derecho a acceder, rectificar y eliminar tus datos personales. Para ejercer estos derechos, por favor, contáctanos a través de nuestro número <a href="tel:+1234567890">02914532539</a></p>

            <p><strong>Modificaciones a esta Política</strong></p>
            <p>Nos reservamos el derecho a modificar esta política de privacidad en cualquier momento. Notificaremos a los usuarios sobre cualquier cambio a través de nuestro sitio web.</p>

            <p>Trussi Videos</p>
            <p>Brown 811, B8000 Bahía Blanca, Provincia de Buenos Aires</p>
        </div>
    </body>
</html>