<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Términos de Uso</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/terminos_condiciones_privacidad_seguridad.css">
    </head>

    <body>
        <div id="terms-container">
            <h1>Términos de Uso</h1>
            <p><strong>Introducción</strong></p>
            <p>Bienvenido a nuestro sitio web. Al acceder y utilizar nuestros servicios, aceptas cumplir con los siguientes términos y condiciones. Estos términos están diseñados para asegurar un uso justo y adecuado de nuestros servicios.</p>
    
            <p><strong>Uso del Sitio Web</strong></p>
            <p>Nuestro sitio web permite a los clientes ingresar su nombre y/o apellido para consultar el estado de su reparación. Este servicio está destinado exclusivamente para uso personal y no comercial.</p>
    
            <p><strong>Cuentas de Usuario</strong></p>
            <p>Para utilizar nuestro servicio, no es necesario crear una cuenta. Sin embargo, es fundamental que la información proporcionada sea precisa y actual. Nos reservamos el derecho de suspender o terminar el acceso al servicio si se detecta cualquier uso indebido o violación de estos términos.</p>
    
            <p><strong>Propiedad Intelectual</strong></p>
            <p>Todo el contenido de este sitio web, incluyendo pero no limitándose a textos, gráficos, logotipos, e imágenes, es propiedad nuestra o de nuestros proveedores de contenido y está protegido por las leyes de propiedad intelectual.</p>
    
            <p><strong>Limitación de Responsabilidad</strong></p>
            <p>No nos hacemos responsables de cualquier daño directo, indirecto, incidental o consecuente que resulte del uso de nuestro sitio web o servicios. Aunque nos esforzamos por proporcionar información precisa y actualizada, no garantizamos la exactitud, integridad o utilidad de la información disponible en el sitio.</p>
    
            <p><strong>Modificaciones de los Términos</strong></p>
            <p>Nos reservamos el derecho a modificar estos términos de uso en cualquier momento. Los cambios serán efectivos una vez publicados en esta página. Se recomienda revisar esta página periódicamente para estar al tanto de cualquier actualización.</p>
        </div>
    </body>
</html>