
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"], input[type="email"], input[type="number"], input[type="date"], select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

input[type="submit"], input[type="button"] {
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

input[type="submit"]:active, input[type="button"]:active {
    transition: background-color 0.3s ease;
}

input[type="submit"] {
    background-color: #4CAF50;
}

input[type="submit"]:hover {
    background-color: #45a049;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

input[type="submit"]:active {
    background-color: #3e8e41;
}

input[type="button"] {
    margin-top:10px;
    background-color: #d5261a;
}

input[type="button"]:hover {
    background: #a81107;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

input[type="button"]:active {
    background-color: #910c06;
}

.section-heading {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.caja_nombre {
    display: flex;
    align-items: center;
}

.caja_nombre input {
    flex-grow: 1;
    margin-right: 10px;
    margin-left: -20px;
}

.caja_nombre button {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.caja_nombre button:hover {
    background-color: #0056b3;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.caja_nombre button:active {
    background-color: #003b7b;
    transition: background-color 0.3s ease;
}

.mensaje-disponibilidad {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.mensaje-disponibilidad.disponible {
    color: green;
}

.mensaje-disponibilidad.no-disponible {
    color: red;
}