* {
    margin: 0;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
}

.main_container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.side_izquierda {
    background-color: #00172e;
    color: white;
    box-sizing: border-box; 
    width: 15%;
}

.side_izquierda:hover {
    background-color: #003d64;
}

.side_izquierda, .side_izquierda:hover, 
.botones_side_izquierda button, .botones_side_izquierda button:hover, 
.boton_agregar, .boton_agregar:hover
.boton_buscar, .boton_buscar:hover,
td button, td button:hover,
tr, tr:hover {
    transition: background-color 0.2s;
}

.side_derecha {
    background-color: rgb(255, 249, 239);
}

.titulo_side_izquierda {
    margin:20px;
    text-align: center;
}

.botones_side_izquierda button {
    width: 100%;
}

.boton_clientes,
.boton_cargar_mas,
.boton_utlima_busqueda {
    background-color: #00172e;
}

.boton_clientes:hover,
.boton_cargar_mas:hover,
.boton_utlima_busqueda:hover {
    background-color: #006ea5;
}

.boton_clientes:active,
.boton_cargar_mas:active,
.boton_utlima_busqueda:active {
    background-color: #00172e;
}

.boton_clientes,
.boton_cargar_mas,
.boton_utlima_busqueda,
.boton_cerrar_sesion,
.boton_agregar,
.boton_buscar {
    border: none;
    padding: 14px 28px;
    cursor: pointer;
    color:white;
}

.boton_editar,
.boton_eliminar,
.boton_informe {
    cursor: pointer;
    color:white;
    border-style: none;
}

.boton_cerrar_sesion, .boton_eliminar {
    background-color: #d5261a;
}

.boton_cerrar_sesion:hover, .boton_eliminar:hover {
    background: #a81107;
}

.boton_agregar {
    background-color: #04AA6D;
} 
.boton_agregar:hover {
    background-color: #46a049;
}

.boton_buscar {
    background-color: #e7e7e7; color: black;
}

.boton_buscar:hover {
    background: #ddd;
}

.boton_agregar,
.boton_buscar, 
.boton_editar,
.boton_eliminar,
.boton_informe {
    border-radius: 5px;
}

.boton_editar {
    background-color: #ff9800;
}

.boton_editar:hover {
    background: #e68a00;
}

.boton_informe {
    background-color: #007bff;
}

.boton_informe:hover {
    background: #0a69b7;
}

.boton_editar,
.boton_eliminar,
.boton_informe {
    margin:3px;
    padding: 7px 14px;
}

.side_derecha {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.container_tabla {
    padding:10px;
    background-color: #aaaaaa;
    overflow-x: auto;
    margin-top:20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding:20px;
    margin-bottom: 0 !important;
}

tbody tr:nth-child(even) {
    background-color: #e0e1f6;
}

thead {
    background-color: #131a35;
    color:white;
}

tbody tr:nth-child(odd) {
    background-color: #d5d5d5;
}

tbody tr:hover {
    background-color: #fdf1ff;
}

table, th, td {
    border: 0.1px solid #000;
}

th, td {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:0;
}

th {
    padding-left: 3px;
}

.container_botones {
    display: flex;
    flex-direction: column;
}

.boton_clientes,
.boton_cargar_mas,
.boton_utlima_busqueda,
.boton_cerrar_sesion,
.boton_agregar,
.boton_buscar {
    font-size: 12.5px;
    box-sizing: border-box;
}

#paginationContainer {
    margin-top: 20px;
    display: inline-block;
}

.pagination-button {
    float: left;
    padding: 9px 18px;
    border: none;
    cursor: pointer;
    background-color: white; border: 2px solid #007bff;
}

.pagination-button:hover {
    background: #0a69b7;
}

.pagination-button:active {
    background: #007bff;
}

#paginationContainer button {
    border-radius: 5px;
    margin:2.5px;
}

.selected {
    background-color: #007bff;;
    color: white;
}

@media (max-width: 1000px) {

    .side_izquierda h1 {
        font-size: medium;
    }

    .side_izquierda {
        width: 100%;
    }

    .main_container {
        flex-direction: column;
    }

    .container {
        max-width: 100%;
    }
}

@media (min-width: 1000px) {
    form.logout_form {
        position: absolute;
        width: 15%;
        bottom: 0;
    }
}

@media (max-width: 750px) {
    .titulo_side_izquierda {
        margin:15px;
    }
}

@media (max-width: 500px) {

    .boton_clientes,
    .boton_cargar_mas,
    .boton_utlima_busqueda,
    .boton_cerrar_sesion {
        font-size: 5.5px;
    }

    .botones_side_izquierda {
        display: flex;
        flex-direction: column;
    }

    .titulo_side_izquierda {
        margin:10px;
    }

    table {
        font:3px;
        font-size:x-small;
    }

    .side_derecha {
        padding:0;
    }

    .container_tabla {
        padding:0;
    }
}

@media (max-width: 400px) {

    .titulo_side_izquierda {
        margin:3px;
    }

    .side_izquierda h1 {
        font-size: small;
    }

    .boton_clientes,
    .boton_cargar_mas,
    .boton_utlima_busqueda,
    .boton_cerrar_sesion {
        font-size: 5px;
    }
}

@media (max-width: 300px) {

    .titulo_side_izquierda {
        margin:1px;
    }

    table {
        font-size: x-small;
    }
}

@media (max-width: 225px) {

    .titulo_side_izquierda {
        margin:0.2px;
    }

    .side_izquierda h1 {
        font-size: x-small;
    }

    .boton_clientes,
    .boton_cargar_mas,
    .boton_utlima_busqueda,
    .boton_cerrar_sesion {
        font-size: 2.5px;
    }

    table {
        font-size: xx-small;
    }
}

@media (max-width: 150px) {
    .titulo_side_izquierda {
        margin:0px;
    }

    .side_izquierda h1 {
        font-size: xx-small;
    }

    .boton_clientes,
    .boton_cargar_mas,
    .boton_utlima_busqueda,
    .boton_cerrar_sesion {
        font-size: 1.5px;
    }
}