* {
    margin:0;
    font-family: 'Open Sans', Arial, Helvetica Neue, sans-serif;
}

p, h1, h2, h3, h4 {
    color: white !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

body {
    background: linear-gradient(#9891e5 50%, #e66464cf);
    overflow-x: hidden;
}

.container_img_texto {
    margin-bottom: -5px;
}

/*header*/
.texto_sobre_img {
    width: 100%;
    position: relative;
    display: inline-block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
    z-index: 1;
}

.navbar ul {
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    list-style-type: none;
}

.navbar a {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.hamburger {
    display: none;
}

.texto_header {
    position: relative;
    font-size: 20px;
    bottom:2.5px;
}

.material-symbols-outlined {
    font-size: 20px;
}

.img_header {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(83, 83, 83, 0.5));
}

.texto_centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    width:60%;
}

.texto_centrado h2 {
    font-size: 64px;
}

.texto_centrado p {
    font-size: 32px;
}

.texto_centrado h2, .texto_centrado p {
    transition: color 0.3s ease;
}

/*main*/
/*contenedor_fotos*/
.contenedor_fotos {
    width: 100%;
    box-sizing: border-box;
}

.titulo_seccion {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 50px;
}

.titulo_seccion h2 {
    font-size: 24px;
    font-weight: bold;
}

.galeria_figure_figcaption {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
}

.galeria_figure_figcaption article {
    width: 30%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.galeria_figure_figcaption figure {
    padding: 0;
    text-align: inherit;
}

.galeria_figure_figcaption figure img {
    width: 100%;
    height: 200px;
    border-radius: 7.5px;
}

.galeria_figure_figcaption figcaption {
    margin-top: 10px;
    font-size: 14px;
}

@media (min-width: 2500px) {
    .texto_centrado {
        width: 30%;
    }
}

@media (min-width: 1220px) {
    @keyframes appearFotoContenedor_consulta_reparacion {
        from {
            opacity: 0;
            transform: translateX(-100%);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    @keyframes appearFotoContenedor_info_contacto {
        from {
            opacity: 0;
            transform: translateX(100%);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
    .contenedor_consulta_reparacion aside,
    .contenedor_info_contacto article {
        animation: appearFotoContenedor_consulta_reparacion 5s linear;
        animation-timeline: view();
        animation-range: entry 0 cover 35%;
    }
    
    .contenedor_info_contacto aside,
    .contenedor_consulta_reparacion article {
        animation: appearFotoContenedor_info_contacto 5s linear;
        animation-timeline: view();
        animation-range: entry 0 cover 35%;
    }
}

@media (max-width: 1220px) {
    .contenedor_consulta_reparacion {
        flex-direction: column;
    }

    .contenedor_consulta_reparacion aside {
        padding-left: 0 !important;
    }

    .contenedor_info_contacto aside {
        padding-right: 0 !important;
    }

    .contenedor_consulta_reparacion article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor_consulta_reparacion article form input[type="text"] {
        width: 60%;
    }

    .contenedor_info_contacto {
        flex-direction: column-reverse;
    }

    .contenedor_consulta_reparacion article, 
    .contenedor_info_contacto article {
        padding-top: 50px;
    }

    .contenedor_consulta_reparacion article {
        padding-right:10px !important;
    }
}

@media (min-width: 1000px) {
    @keyframes appearContenedorFotos {
        from {
            opacity: 0;
            scale:0.5;
        }
        to {
            opacity: 1;
            scale: 1;
        }
    }
    
    .contenedor_fotos {
        animation: appearContenedorFotos 5s linear;
        animation-timeline: view();
        animation-range: entry 0 cover 40%;
    }
}

@media (max-width: 1000px) {
    .texto_centrado h2 {
        font-size:48px;
    }
    
    .texto_centrado p {
        font-size: 24px;
    }

    .galeria_figure_figcaption article {
        width: 100%;
    }

    .galeria_figure_figcaption figure img {
        height: auto;
    }
}

@media (max-width: 850px) {
    .navbar {
        background: linear-gradient(
            50deg,
            rgba(13, 50, 69, 0.4) 12%, 
            rgba(0, 0, 2, 0.1) 77%
        );
        background-blend-mode: normal;
        box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
        backdrop-filter: blur(5px);
        padding: 0;
        transition: transform 0.4s ease;
        position: fixed; /* Añade posición fija para cubrir toda la pantalla */
        left: 0;
        top: 0;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        height: 100vh;
        z-index: 2;
    }

    .navbar a {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        text-decoration: none;
        font-size: 50px;
    }

    .texto_header {
        position: relative;
        font-size: 40px;
        bottom: 10px;
    }

    .material-symbols-outlined {
        font-size: 40px;
    }

    .navbar.active {
        transform: translateY(-100%);
    }

    .navbar.active .hamburger {
        margin-top: 40%;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0;
    }

    li a {
        margin: 10px 0;
        padding-top: 5px;
    }

    .hamburger {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 2;
        display: flex;
        position: absolute;
        right: 2%;
        top: 4%;
    }

    .hamburger.open {
        position: fixed;
    }
    
    .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
        padding: 3px;
        margin: 3px;
    }

    .hamburger .bar {
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    .hamburger.open .bar:first-child {
        transform: translateY(10px) rotate(45deg);
    }
    
    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }
      
    .hamburger.open .bar:last-child {
        transform: translateY(-15px) rotate(-45deg);
    }
    
    .texto_centrado h2 {
        font-size: 40px;
    }
    
    .texto_centrado p {
        font-size: 20px;
    }
}

@media (min-width: 850px) {
    .navbar .iniciar_sesion {
        margin-left:auto;
    }

    .navbar li {
        margin-left: 30px;
    }
    
    .navbar .iniciar_sesion {
        margin-right: 20px;
    }
}

@media (max-width: 650px) {
    .texto_header {
        font-size: 35px;
        bottom:5px;
    }

    .material-symbols-outlined {
        font-size: 35px;
    }
    
    .texto_centrado h2 {
        font-size:35px;
    }
    
    .texto_centrado p {
        font-size: 22.5px;
    }

    .contenedor_info_contacto article {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 600px) {
    .contenedor_consulta_reparacion article {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contenedor_consulta_reparacion article h2,
    .contenedor_consulta_reparacion article p {
        width: 100%;
    }

    .contenedor_consulta_reparacion aside img, 
    .contenedor_info_contacto aside iframe {
        width:100% !important;
        height:500px;
    }
}

@media (max-width: 520px) {
    .texto_header {
        font-size: 30px;
        bottom:5px;
    }

    .material-symbols-outlined {
        font-size: 30px;
    }

    .texto_centrado h2 {
        font-size:25px;
    }
    
    .texto_centrado p {
        font-size: 12.5px;
    }
}

@media (max-width: 470px) {
    .navbar {
        padding-top: 5px;
    }

    .navbar li {
        margin-top: 3px !important;
        margin-bottom: 3px !important;
    }
}

@media (max-width: 350px) {
    .navbar li {
        margin-top: 2.5px !important;
        margin-bottom: 2.5px !important;
    }

    .texto_centrado h2 {
        font-size:12px;
    }
    
    .texto_centrado p {
        font-size: 6px;
    }
}

@media (max-width: 300px) {
    form {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedor_consulta_reparacion article form input[type="text"] {
        width:95%;
    }
}

@media (max-width: 280px) {
    .texto_centrado h2 {
        font-size:8px;
    }
    
    .texto_centrado p {
        font-size: 4px;
    }

    .navbar {
        padding-top: 1px !important;
    }

    .navbar li {
        margin-top: 0.5px !important;
        margin-bottom: 0.5px !important;
    }

    .texto_header {
        font-size: 25px;
    }

    .material-symbols-outlined {
        font-size: 25px;
    }
}

/*contenedor_consulta_reparacion y contenedor_info_contacto*/
.contenedor_consulta_reparacion, 
.contenedor_info_contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.contenedor_consulta_reparacion aside img, 
.contenedor_info_contacto aside img {
    width:600px;
    height:500px;
    border-radius: 15px;
}

/*contenedor_consulta_reparacion*/
.contenedor_consulta_reparacion p {
    margin-top:15px;
    margin-bottom: 15px;
}

.contenedor_consulta_reparacion aside {
    padding-left: 30px;
}

.contenedor_consulta_reparacion article {
    padding-right:75px;
}

article form button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

article form button:hover {
    background-color: #0056b3;
}

article form button:active {
    background-color: #004080;
    transform: scale(0.98);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

article form input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

article form input[type="text"]:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/*contenedor_info_contacto*/
.contenedor_info_contacto {
    padding-bottom: 50px;
}

.contenedor_info_contacto aside {
    padding-right: 30px;
}

.contenedor_info_contacto aside iframe {
    border-radius: 1rem;
}

.contenedor_info_contacto article {
    padding-left: 75px;
    padding-right: 75px;
}

.contenedor_info_contacto h3 {
    margin-top: 15px;
}

.contenedor_info_contacto p {
    font-size: 16px;
    margin-bottom: 10px;
}

/*footer*/
footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px;
    position: relative;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer .info_footer {
    margin-top: 10px;
}

footer .links {
    margin-bottom: 10px;
}